body {
  background-color: gray;
}

footer {
  margin-bottom: 100px;
}

.grid {
  align-content: center;
  height: 500px;
  width: 900px;
  float: left;
  margin-top: 100px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 100px;
  background-color: white;
}

.row {
  line-height: 0;
  display: inline-block;
  float: left;
  margin: auto;
}

.pixel {
  border: 1px dotted black;
  height: 20px;
  width: 20px;
  display: inline-block;
  float: left;
  box-sizing: border-box;
  border-collapse: collapse;
  margin: auto;
}

/*.pixel::after{
  clear: both;
}*/

.palette {
  align-content: center;
  height: 100px;
  width: 500px;
  margin-left: 50%;
}

.color {
  border: 1px dotted black;
  height: 20px;
  width: 20px;
  display: inline-block;
  float: left;
  box-sizing: border-box;
  border-collapse: collapse;
  margin: auto;
}
