body {
  background-color: gray;
}

h1 {
  text-align: center;
}

.grid {
  align-content: center;
  height: 500px;
  width: 800px;
  /*float: left;*/
  margin-top: 10px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 100px;
  background-color: white;
  padding: 10px;
}

.row {
  line-height: 0;
  display: inline-block;
  float: left;
  /*margin: auto;*/
}

.pixel {
  border: 1px dotted black;
  height: 20px;
  width: 20px;
  display: inline-block;
  float: left;
  box-sizing: border-box;
  border-collapse: collapse;
  margin: auto;
}

/*.pixel::after{
  clear: both;
}*/

/*.newPalette {
  align-content: center;
  height: 100px;
  width: 500px;
  margin-left: 20%;
  position: relative;
  float: inherit;
}*/

.palette {
  align-content: center;
  height: 100px;
  width: 750px;
  margin-top: 10px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 10px;
  background-color: white;
  padding: 10px;
  /*margin-left: 20%;*/
}

.color {
  border: 1px black;
  height: 50px;
  width: 50px;
  display: inline-block;
  float: left;
  box-sizing: border-box;
  border-collapse: collapse;
  margin: auto;
  align-content: center;
}
